* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background: linear-gradient(135deg, #1e1e2e, #312e81); /* Blue-Purple Blend */
  color: #ffffff;
  font-family: "Poppins", serif;
}

.section {
  background: rgba(0, 0, 0, 0.3);
}
.common-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxShadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.common-section_container {
  width: 90%;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-size: 3.2rem;
}

p {
  color: #b0bec5;
  font-size: 2.5rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: #1e1e2e;
  position: fixed;
  top: 0;
  z-index: 1000;
  & .logo {
    font-size: 2.7rem;
    font-weight: bold;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: #ff9800;
  }
}

.navbar-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  position: relative;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #ff9800;
  font-size: 1.9rem;
}

.navbar-link.active {
  color: #ff9800;
  font-weight: bold;
  border-bottom: 2px solid #ff9800;
  transition: all 0.3s ease;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
}

.mobile-navbar-btn .fa-solid {
  font-size: 3.5rem;
}

.fa-xmark[name="close-outline"] {
  display: none;
}

/* mobile navbar button links  */
.mobile-nav-button-icon {
  width: 80vw;
  display: none;
  position: absolute;
  bottom: 22rem;
  & a {
    text-decoration: none;
    & .fa-brands {
      color: rgba(255, 255, 255, 0.601);
      font-size: 3.5rem;
      border-radius: 50%;
      padding: 1.8rem;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.humburger {
  display: none;
}

/* main section  */

main {
  margin-top: 8rem;
}

.firstSection {
  height: 61vh;
  margin-top: 8rem;
  flex-direction: column;
  & .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.firstSection .leftSection {
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
  & .hero-heading {
    color: #f8fafc; /* Soft white for better contrast */
    font-weight: 700;
    line-height: 1.3;
  }

  & #element {
    font-weight: bold;

    color: #a855f7; /* Vibrant Purple */
    font-weight: bold;
  }

  & .purple {
    font-weight: bold;

    color: #a855f7; /* Vibrant Purple */
    font-weight: bold;
  }
}

.firstSection .rightSection {
  display: flex;
  justify-content: center;
  & .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      max-width: 20rem;
      box-shadow: 0px 10px 30px rgba(168, 85, 247, 0.5); /* Soft Purple Glow */
      transition: transform 0.3s ease-in-out;
      border-radius: 2rem;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
main hr {
  background: rgba(0, 0, 0, 0.3);

  border: 0.1rem;
  height: 0.1rem;
  margin: 8rem 5% 4rem 5%;
}

/* about section */

.aboutSection .about-heading {
  margin-bottom: 5rem;
}

.aboutSection .container {
  margin-bottom: 8rem;
}

.aboutSection .container .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  & .para {
    padding: 0.5rem 1.5rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
  }
  & .btn-div {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8rem 11rem 3rem 0;
    gap: 2rem;
    & a {
      text-decoration: none;
      .btn {
        background: #0056b3; /* Darker Blue */
        transition: 0.3s ease-in-out;
        font-size: 1.7rem;
        font-weight: bold;
        color: white;
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        outline: none;
        border: none;
        cursor: pointer;
        &:hover {
          background: #007bff; /* Blue Color */
          transform: scale(1.05);
        }
      }
    }
  }
}

/* work experence section */

.container .text-gray {
  color: #b0bec5;
}

.workSection h2 {
  font-size: 3.2rem;
}

.workSection .work-container {
  display: flex;
  flex-wrap: wrap;

  & .course-div {
    flex-basis: 33%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    padding: 3rem 1.5rem;
    & .year {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 5rem;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }
    & .section-common-title {
      color: #f8fafc;
      font-size: 2.3rem;
      font-weight: bold;
    }
    & .desc {
      color: #a5b4fc;
      font-size: 2rem;
      word-spacing: 0.1rem;
      letter-spacing: 0.1rem;
      padding: 2rem 4rem;
    }
    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    }
  }
}

/* contact section  */

.section-contact--form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  margin-top: 3rem;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 3rem;

  & .contact-subheading {
    font-size: 3.2rem;
    text-align: center;
    text-transform: capitalize;
    padding-top: 3rem;
  }
  & .contact-desc {
    text-align: center;
    color: #a5b4fc;
    font-size: 2rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    padding: 2rem 1rem;
  }
}
.container-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-content {
  background: rgba(0, 0, 0, 0.3);
  width: 40%;
  padding: 0.5rem 1rem;
  margin-bottom: 6rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 2rem;
  text-transform: none;
}

input,
textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  outline: none;
  border-radius: 0.3rem;
  border: none;
  cursor: text;
  &:hover {
    cursor: pointer;
    color: black;
    outline-offset: 0.1rem;
  }
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.contact-btn {
  font-size: 1.8rem;
  border: none;
  text-transform: capitalize;
  background-color: #ffd700; /* Golden Yellow */
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6); /* Glow */
  &:hover {
    background-color: #e6c200; /* Slightly darker yellow */
    transform: scale(1.05);
  }
}
/* focus on input outline  */
input:focus-visible,
textarea:focus-visible {
  outline: 0.2rem solid #facc15; /* Light golden outline */
  outline-offset: 0.1rem;
}

.custom-select {
  /* appearance: none;  */
  background-color: rgba(255, 255, 255, 0.1);
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  width: 40%;
  transition: all 0.3s ease-in-out;
}

.custom-select:focus {
  outline: none;
  outline: 0.2rem solid #facc15; /* Light golden outline */
  outline-offset: 0.1rem;
}

/* project  */
.project-section {
  flex-direction: column;
}
.project-container {
  padding-top: 5rem;
}

.project-card {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 2.4rem;
  color: black;
}

.project-card p {
  font-size: 1.6rem;
  color: #555;
}

.project-card .btn {
  display: inline-block;
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.project-card .btn:hover {
  background-color: #ffaa00;
}

.project {
  height: 70vh;
  margin-top: 8rem;
}

a:link,
a:visited {
  display: inline-block;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}

/* feedback  */

.f-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & p {
    text-align: center;
    padding: 0 1rem;
  }
}

.testimonial-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding-top: 5rem;
}

.testimonial-card {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-text {
  font-style: italic;
  color: #444;
  margin-bottom: 1rem;
}
.client-info {
  padding-top: 1rem;
  text-align: center;
}

.client-info h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #222;
}

.client-info span {
  font-size: 1rem;
  color: #686161;
}
.feedback {
  padding-top: 5rem;
}
.feedback-heading i {
  color: yellow;
  font-size: 2.4rem;
}

.feedback-link {
  text-underline-offset: 0.4rem;
  text-decoration-thickness: -0.3rem;
  font-size: 2.7rem;
  color: white;
  &:hover {
    color: yellow;
  }
}

/* feedback input  */

.feedback-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 50%;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  margin-top: 8rem;
  margin-bottom: 8rem;
  & h2,
  p {
    text-align: center;
  }
  & .feedback-hr {
    width: 80%;
    margin: 1rem 10%;
  }

  .feedback-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.input-t-e {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
}
.company-input {
  width: 60%;
}

.feedback-text {
  width: 80%;
}

/* footer section  */
footer {
  background-color: #1e1e2e;
  color: #a5b4fc;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & .reserve {
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    font-size: 1.7rem;
  }
}

footer .footer-flex-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & .link-container {
    height: 30vh;
    display: flex;
    align-items: end;
    gap: 3rem;
    padding: 0.5rem;
    & a {
      font-size: 2rem;
      text-transform: capitalize;
      color: #a5b4fc;

      &:hover {
        color: rgba(255, 255, 255, 0.601);
      }
    }
  }
}

footer .footer-flex-container .footer-container {
  height: 27vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  & .follow-on {
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-thickness: -0.3rem;
    padding: 0.5rem 0;
    margin: 0 27.5rem 0 0;
  }
  & .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      & a {
        text-decoration: none;
        & .fa-brands {
          color: rgba(255, 255, 255, 0.601);
          font-size: 2.3rem;
          border-radius: 50%;
          padding: 0.6rem;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
    & hr {
      width: 100%;
      box-shadow: rgba(239, 239, 241, 0.1) 0px 1px 0px;
      border: none;
      height: 0.1rem;
    }
  }
}

/* responsive ko lagi  */

@media (min-width: 1920px) {
  html {
    font-size: 70%; /* 1rem = 11.2px */
  }
}


@media (min-width: 1440px) {
  .common-section {
    max-width: 1200px;
    margin: 0 auto;
  }
}


@media (min-width: 1367px) {
  html {
    font-size: 65%; /* 1rem = 10.4px */
  }
  .common-section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width: 1057px) {
  html {
    font-size: 60%;
  }
  /* Hero Section */
  .firstSection {
    height: 80vh;
  }
  .firstSection .container {
    flex-direction: column;
    text-align: center;
    margin-top: 15rem;
  }

  main hr {
    margin: 2rem 5% 1rem 5%;
  }

  .firstSection .rightSection {
    justify-content: center;
    & .image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      & img {
        width: 17rem;
      }
    }
  }

  .firstSection .rightSection .image {
    margin-top: 4rem;
  }

  /* About Section */

  .aboutSection .container .content {
    width: 80%;
    & .btn-div {
      flex-direction: row;
      align-items: center;
      justify-content: end;
    }
  }
  /* work exp  */
  .workSection .container .work-container {
    flex-direction: column;
    & .course-div .desc {
      padding: 1rem 8rem;
    }
  }
  /* contact  */
  .contact-content {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .navbar {
    height: 10rem;
    position: relative;
    position: fixed;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 999;
  }
  .navbar-list {
    flex-direction: column;
    margin-top: 8rem;
    padding-top: 16rem;
    padding-left: 4rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #1e1e2e, #312e81);
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .active .navbar-list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-navbar-btn .fa-xmark[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .fa-bars[name="menu-outline"] {
    display: none;
  }

  .navbar-link:link,
  .navbar-link:visited {
    font-size: 3rem;
  }

  .navbar-link:hover,
  .navbar-link:active {
    color: rgb(173, 173, 208);
    font-size: 3.5rem;
  }

  /* mobile navbar button links  */
  .mobile-nav-button-icon {
    display: block;
  }

  /* Hero Section */

  main hr {
    margin: 0 5% 3rem 5%;
  }
  /* about section  */
  .aboutSection .container .content {
    width: 100%;
    & .btn-div {
      margin-right: 10rem;
    }
  }

  /* Work Experience */
  .workSection {
    margin-bottom: 5rem;
  }
  .workSection .container .work-container {
    & .course-div .desc {
      padding: 2rem 6rem;
      font-size: 2rem;
    }
  }

  /* contact section  */
  .form-blank {
    margin-top: 8rem;
  }
  .section-contact--form {
    margin: 0;
  }
  .heading-container {
    width: 90%;
    & .contact-desc {
      padding: 2rem 0.3rem;
    }
  }
  .contact-content {
    width: 70%;
  }

  .input-t-e {
    flex-direction: column;
  }
  .box {
    width: 50%;
    padding: 0 1rem;
  }
  .company-input {
    width: 100%;
  }

  /* Footer */
  footer .footer-flex-container {
    flex-direction: column;
    padding: 0;
    & .footer-container {
      height: 20vh;
    }
  }

  footer .footer-flex-container .link-container {
    height: auto;
    align-items: center;
  }
}

@media screen and (min-width: 250px) and (max-width: 576px) {
  html {
    font-size: 44%;
  }
  .firstSection {
    height: 100%;
  }
  .firstSection .rightSection .image img {
    width: 100%;
  }
  .firstSection .leftSection {
    width: 100%;
  }

  main hr {
    margin: 5rem 5% 3rem 5%;
  }

  /* About Section */

  .aboutSection {
    margin-top: 5rem;
  }
  .aboutSection .container .content {
    width: 100%;
    padding: 1rem;
    & .btn-div {
      margin-right: 4.5rem;
    }
  }

  /* Work Experience */
  .workSection {
    margin-bottom: 4rem;
  }

  .heading-container {
    width: 100%;
    & .contact-desc {
      padding: 2rem 0.1rem;
    }
  }

  .contact-content {
    width: 90%;
  }

  .box {
    width: 100%;
  }

  .testimonial-section {
    margin-bottom: 5rem;
  }

  /* Footer */
  footer .footer-container .footer-flex-container .footer-container .follow-on {
    margin: 1.5rem;
  }
}

/* landscape ko lagi responsive  */

@media screen and (max-width: 768px) and (orientation: landscape) {
  .firstSection {
    margin-top: 15rem;
  }
  .aboutSection {
    margin-top: 20rem;
  }
  hr {
    display: none;
  }

  .follow-on {
    display: none;
  }
  .navbar-list {
    margin-top: 10rem;
    padding-top: 1rem;
  }

  .mobile-nav-button-icon {
    bottom: 10rem;
    left: 2rem;
  }
}
